*{ box-sizing: border-box;}
body {
    margin: 0 20%;
}
header { background-color: #c0c5ce;
height: 200px; } 
h1 , h2 {
text-align: center;}
h1 {margin-top: 30px;
padding-top: 20px;}
/* padding: 10px  20px;} */
button { width: 90%;
color: white;
background-color: blue;
height: 25px;
font-size: medium;
margin-left: 30px;}
h3 { display: inline-block;}
.boody2 { display: flex;
justify-content: space-around;
margin: 20px 0;}
footer { color: #008744;
background-color: aqua;
text-align: center;
margin: 10px;
padding: 8px;}